@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@400;500&family=Montserrat:wght@400;500&display=swap");
.periodictable {
  display: grid;
  grid-template-columns: repeat(18, 68px);
  grid-template-rows: repeat(10, 68px);
  grid-gap: 8px;
}

.element {
  background: #ffffff26;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}
.element:hover {
  box-shadow: -12px -12px 12px 0 rgba(58, 58, 58, 0.3),
    12px 12px 12px 0 rgba(0, 0, 0, 0.2);
    transform: scale3d(1.1, 1.1, 1.1);
   transition: all 250ms ease-in-out;
}
.number {
    font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 7px;
  left: 7px;
  display: table;
  flex: 0 1;
}
.symbol {
  font-size: 25px;
  padding-top: 7px;
  font-weight: 700;
  padding-top: 15px;
  flex: 6 1;
  font-family: 'Cormorant Garamond', serif;
}

.name {
  font-size: 10px;
  letter-spacing: 0.54px;
  flex: 3 1;
  text-transform: capitalize;
  font-family: 'Cormorant Garamond', serif;
}

.ptlegend{
  position: absolute;
  top: 1%;
  left: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  color: #eeeeee;
}