@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@400;500&family=Montserrat:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline_item:nth-child(odd) .timeline_item_content
{
    align-items: flex-start;
    text-align: left;

}

.timeline_item:nth-child(odd) .timeline_item_content::after{
    right: auto;
    left: -0.5rem;

}

.timeline_item:nth-child(odd) .timeline_item_content .circle{
    right: auto;
    left: -2.5rem;
}

.timeline::after
{
    height: 138%;
}
